.nav-bar {
background-color: #060b26;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
gap: 2.5rem;
padding: 0 1rem;
}
.nav-bar a {
color: azure;
text-decoration: none;
}
.nav-bar svg {
font-size: 2rem;
width: 32px;
height: 32px;
cursor: pointer;
}
.cart-icon {
position: relative;
display: flex;
align-items: center;
}
.cart-count {
position: absolute;
top: -6px;
right: -10px;
background: red;
color: white;
font-size: 0.7rem;
padding: 2px 6px;
border-radius: 50%;
}
.nav-bar-login {
font-size: 2rem;
color: azure;
}
.bnav-avatar-icon {
cursor: pointer;
}
